<%- include("partials/header.ejs", {active: "tomorrow"}) %>

<form action="/tomorrow/add" method="POST">
    <input type="text" name="newTask" placeholder="New Task">
    <input type="submit" value="add">
</form>

<div class="task-list">
    <% if(locals.tasks && tasks.length >= 1){ %>
        <% for(var i=0; i<tasks.length; i++){ %>
            <div class="task-item" id="task-K<%= i %>">
                <div class="task-info">
                    <input type="checkbox">
                    <p><%= tasks[i] %></p>
                </div>
                <div class="actions hidden">
                    <form action="/advance" method="POST">
                        <input type="hidden" name="taskId" value="<%= i %>">
                        <input type="submit" value="advance">
                    </form>
                    <form action="/tomorrow/delete" method="POST">
                        <input type="hidden" name="taskId" value=<%= i %>>
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <p class="starter">Your Tasks will appear here!</p>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>